name: Release for Linux

on: [ push, pull_request ]

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  release_linux:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - run: yarn install
      - run: yarn add -D esbuild
      - run: yarn test
      - run: yarn lint
      - run: yarn build-all
      - run: yarn cli --help
      - run: yarn dev:cli --help

      #      - name: Prepare for signing
      #        uses: samuelmeuli/action-snapcraft@v1
      #        # Only install Snapcraft on Ubuntu
      #        if: ${{ startsWith(matrix.os, 'ubuntu') && startsWith(github.ref, 'refs/tags/v') }}
      #        with:
      #          # Log in to Snap Store
      #          snapcraft_token: ${{ secrets.snapcraft_token }}

      - name: Build native executable
        if: ${{ startsWith(matrix.os, 'ubuntu') && startsWith(github.ref, 'refs/tags/v') }}
        run: yarn install --network-timeout 1000000 && yarn package-linux
        env:
          GH_TOKEN: ${{ secrets.github_token }}

      - name: Release assets
        if: ${{ startsWith(matrix.os, 'ubuntu') && startsWith(github.ref, 'refs/tags/v') }}
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          artifacts: "bin/linux/*"
          token: ${{ secrets.GITHUB_TOKEN }}
