name: Release for MacOS

on: [push, pull_request]

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  release_macos:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - run: yarn install
      - run: yarn add -D esbuild
      - run: yarn test
      - run: yarn lint
      - run: yarn build-all
      - run: yarn cli --help
      - run: yarn dev:cli --help

      - name: Build native executable
        if: ${{ startsWith(matrix.os, 'macos') && startsWith(github.ref, 'refs/tags/v') }}
        run: yarn install --network-timeout 1000000 && yarn package-macos
        env:
          GH_TOKEN: ${{ secrets.github_token }}

      #      - name: Prepare for app notarization
      #        if: ${{ startsWith(matrix.os, 'macos') && startsWith(github.ref, 'refs/tags/v') }}
      #        # Import Apple API key for app notarization on macOS
      #        run: |
      #          mkdir -p ~/private_keys/
      #          echo '${{ secrets.api_key }}' > ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8

      - name: Release assets
        if: ${{ startsWith(matrix.os, 'macos') && startsWith(github.ref, 'refs/tags/v') }}
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          artifacts: "bin/macos/*"
          token: ${{ secrets.GITHUB_TOKEN }}
